{% include "top.html" %}
<div style="background-color: #1a1a1a">
    {% raw %}
<template id="event-template">
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
        <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
            <span class="ui-panel-title">{{title}}</span>
        </div>
        <div class="ui-panel-content ui-widget-content">
            <img src="../static/logo.png" height="64" width="64">
            <div class="car-detail">{{about}}</div>
            <div class="car-detail">{{location}}</div>
            <div class="car-detail">{{date}}</div>
            <a class="nav-link text-secondary" href="/buysong?id={{id}}">I will Participate</a>
        </div>
    </div>
</template>
<template id="user-template">
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
        <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
            <span class="ui-panel-title">{{username}}</span>
        </div>
        <div class="ui-panel-content ui-widget-content">
            <img src="../static/logo.png" height="64" width="64">
            <a class="nav-link text-secondary" href="/profile?id={{id}}">Profile</a>
        </div>
    </div>
</template>
<template id="song-template">
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
        <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
            <span class="ui-panel-title">{{title}}</span>
        </div>
        <div class="ui-panel-content ui-widget-content">
            <img src="../static/logo.png" height="64" width="64">
            <div class="car-detail">{{artist_name}}</div>
            <div class="car-detail">{{price}}</div>
            <a class="nav-link text-secondary" href="/buysong?id={{id}}">Buy</a>
        </div>
    </div>
</template>
<template id="album-template">
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
        <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
            <span class="ui-panel-title">{{title}}</span>
        </div>
        <div class="ui-panel-content ui-widget-content">
            <img src="../static/logo.png" height="64" width="64">
            <div class="car-detail">{{artist_name}}</div>
            <div class="car-detail">{{price}}</div>
            <a class="nav-link text-secondary" href="buyalbum?id={{id}}">Buy</a>
        </div>
    </div>
</template>
{% endraw %}
<div style="overflow-y: scroll; height: 150%;">
    <div id="albumgrid"></div>
    <div id="songgrid"></div>
    <div id="eventgrid"></div>
    <div id="usergrid"></div>
</div>
<script>
    $(function () {
        var url_all = window.location.href;
        var url = new URL(url_all);
        if (!(url.searchParams === undefined)) {
          var message = url.searchParams.get('message');
        }
        if (message != null && !(message === undefined)) {
            alert(message);
        }

        $('#songgrid').puidatagrid({
            paginator: {
                rows: 5
            },
            columns: 5,
            template: $('#song-template'),
            header: 'Songs with {{search_key}}',
            datasource: [
        {% for song in songs %}
            {% raw %}
            {
            {% endraw %}
                'id' :'{{ song.song_id }}',
                'title': '{{ song.title }}',
                'artist_name':'{{ song.artist_name }}',
                'price':'{{ song.price }}'
            {% raw %}
            },
            {% endraw %}
        {% endfor %}
        ]

        });
        $('#albumgrid').puidatagrid({
            paginator: {
                rows: 5
            },
            columns: 5,
            template: $('#album-template'),
            header: 'Albums with {{search_key}}',
            datasource: [
                {% for album in albums %}
                    {% raw %}
                    {
                    {% endraw %}
                        'id' :'{{ album.album_id }}',
                        'title': '{{ album.title }}',
                        'artist_name':'{{ album.artist_name }}',
                        'price':'{{ album.price }}'
                    {% raw %}
                    },
                    {% endraw %}
                {% endfor %}
            ]
        });
        $('#usergrid').puidatagrid({
            paginator: {
                rows: 5
            },
            columns: 5,
            template: $('#user-template'),
            header: 'Users with {{search_key}}',
            datasource: [
                {% for user in users %}
                    {% raw %}
                    {
                    {% endraw %}
                        'id' :'{{ user.user_id }}',
                        'username': '{{ user.username }}'
                    {% raw %}
                    },
                    {% endraw %}
                {% endfor %}
            ]
        });
        $('#eventgrid').puidatagrid({
            paginator: {
                rows: 5
            },
            columns: 5,
            template: $('#event-template'),
            header: 'Events with {{search_key}}',
            datasource: [
                {% for event in events %}
                    {% raw %}
                    {
                    {% endraw %}
                        'id' :'{{ event.event_id }}',
                        'title': '{{ event.name }}',
                        'about':'{{ event.about }}',
                        'location':'{{ event.location }}',
                        'date':'{{ event.date }}',
                    {% raw %}
                    },
                    {% endraw %}
                {% endfor %}
            ]
        });
    });
</script>
</div>
{% include "bottom.html" %}