<div id="bottommenu" class="bg-primary p-0" style="position: fixed; bottom: 0px; left: 0px; right: 0px;">
    <hr>
    <div class="container">
      <div class="row">
        <div class="ui-grid-col-3">
          <div class="row">
            <div class="col-md-5">
              <img src="../static/cover.PNG" alt="ImageMusic" style="width: 70px; height: 70px;" class="my-2"> </div>
            <div class="col-md-6">
              <div class="row">
                <p id="songName"> This is America </p>
              </div>
              <div name="song_artist" class="row">
                <p id="artistName"> Childish Gambino </p>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-grid-col-1">
          <a href="#" class="btn btn-outline-primary my-4" style="background-image: url('../static/23ef.png'); background-size: cover; width: 48px; height: 48px;"
            onclick="wavesurfer.playPause()"></a>
        </div>
        <div class="ui-grid-col-7">
          <div id="waveform" style="background-color: rgb(10, 10, 10); width: 700px;" class="mx-2 bg-primary"></div>
          <div class="row" width="40px">
            <script>
              var wavesurfer = WaveSurfer.create({
                        container: '#waveform',
                        waveColor: 'orange',
                        progressColor: 'gray',
                        });
                        wavesurfer.load('../static/mp3/gambino.mp3');
                        wavesurfer.on('ready', function () {
                        wavesurfer.play();
                         });
            </script>
          </div>
        </div>
        <div class="ui-grid-col-1 my-2">
          <div class="row d-flex justify-content-center">
            <div class="rating">
              <span>
              <input type="radio" name="rating" id="str5" value="5">
                <label for="str5"></label>
              </span>
              <span>
                <input type="radio" name="rating" id="str4" value="4">
                <label for="str4"></label>
              </span>
              <span>
                <input type="radio" name="rating" id="str3" value="3">
                <label for="str3"></label>
              </span>
              <span>
                <input type="radio" name="rating" id="str2" value="2">
                <label for="str2"></label>
              </span>
              <span>
                <input type="radio" name="rating" id="str1" value="1">
                <label for="str1"></label>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p id="ratingText">Rating</p>
            </div>
          </div>
         <script type="text/javascript">
		    $(document).ready(function () {
		        // Check Radio-box
		        $(".rating input:radio").attr("checked", false);
		 
		        $('.rating input').click(function () {
		            $(".rating span").removeClass('checked');
		            $(this).parent().addClass('checked');
		        });
		 
		        $('input:radio').change(
		            function () {
		                var userRating = this.value;
		                alert("You give the rating " + userRating + "/5");
		            });
		    });
		</script>
        </div>
      </div>
    </div>
    <hr>
  </div>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
 
</body>
</html>