{% include "top.html" %}

<div class="col-md-3">
<form action="">
	<h4>Enter a name for new playlist</h4>
	<input type="text" name="FirstName" value="Bilkentin Çilesi"><br>
	<input type="submit" value="Create">
</form>
</div>

<div class="col-md-9">
	<div style="background-color: #1a1a1a">
    <div id="advanced">
        <select name="source2">
        </select>
        <select name="target2">
        </select>
    </div>
    <script>
        var themes = new Array('afterdark', 'afternoon', 'afterwork', 'aristo', 'black-tie', 'blitzer', 'bluesky', 'bootstrap', 'casablanca', 'cruze',
            'cupertino', 'dark-hive', 'dot-luv', 'eggplant', 'excite-bike', 'flick', 'glass-x', 'home', 'hot-sneaks', 'humanity', 'le-frog', 'midnight',
            'mint-choc', 'overcast', 'pepper-grinder', 'redmond', 'rocket', 'sam', 'smoothness', 'south-street', 'start', 'sunny', 'swanky-purse', 'trontastic',
            'ui-darkness', 'ui-lightness', 'vader');
        var targetdata = new Array();
        $('#advanced').puipicklist({
            showTargetControls: true,
            sourceCaption: 'Available',
            targetCaption: 'Selected',
            filter: true,
            responsive: true,
            targetdata: targetdata,
            sourceData: themes,
            content: function (option) {
                return '<img src="showcase/resources/demo/images/themes/' + option.label + '.png" alt="" /><span style="float:right;font-size:14px">' + option.label + '</span>';
            }
        });
    </script>
</div>
</body>
</div>
{% include "bottom.html" %}
