<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/theme.css" type="text/css"> </head>
    <link rel="stylesheet" href="../static/primeuı/themes/afterdark/theme.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="../static/primeuı/primeui-all.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src= "../static/primeuı/primeui-all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/x-tag/1.5.11/x-tag-core.min.js"></script>
    <script type="text/javascript" src="../static/primeuı/primeelements.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="col-md-2">
      <div class="col-md-3">
        <img src="../static/logo.png" alt="Mountain View" style="width:70px;height:70px;"> </div>
      <div class="col-md-9">
        <a class="navbar-brand text-secondary" href="#">Nemo Music</a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link text-secondary" href="profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="market">Market</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="mysongs">My Songs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="timeline">Timeline</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="playlists">Playlists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="events">Events</a>
              </li>
            </ul>
            <div class="row">
              <div class="col-md-10">
                <form class="form-inline m-0">
                  <input class="form-control mr-2 form-control-sm" type="text" placeholder="Songs,Albums,Artists" required="required">
                  <button class="btn btn-secondary" type="submit">Search</button>
                </form>
              </div>
              <div class="col-md-2">
                <label class="text-center text-secondary"> UserName </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
      <div id="advanced">
        <select name="source2">
        </select>
        <select name="target2">
        </select>
    </div>
  <script>
      var themes = new Array('afterdark', 'afternoon', 'afterwork', 'aristo', 'black-tie', 'blitzer', 'bluesky', 'bootstrap', 'casablanca', 'cruze',
                'cupertino', 'dark-hive', 'dot-luv', 'eggplant', 'excite-bike', 'flick', 'glass-x', 'home', 'hot-sneaks', 'humanity', 'le-frog', 'midnight',
                'mint-choc', 'overcast', 'pepper-grinder', 'redmond', 'rocket', 'sam', 'smoothness', 'south-street', 'start', 'sunny', 'swanky-purse', 'trontastic',
                'ui-darkness', 'ui-lightness', 'vader');
      var targetdata = new Array();
       $('#advanced').puipicklist({
        showTargetControls: true,
        sourceCaption: 'Available',
        targetCaption: 'Selected',
        filter: true,
        responsive: true,
        targetdata : targetdata,
        sourceData: themes,
        content: function(option) {
            return '<img src="showcase/resources/demo/images/themes/' + option.label + '.png" alt="" /><span style="float:right;font-size:14px">' + option.label + '</span>';
        }
    });
  </script>
</body>
</html>