{% include "top.html" %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/jquery-ui-1.12.1.custom/jquery-ui.theme.css">
 
 <div style="overflow-y: scroll; width: 100%;height: 150%; background-color: #1a1a1a;">
 
    <div class="row" style="width: 100%;">
      <script>
            var url_all = window.location.href;
            var url = new URL(url_all);
            if (!(url.searchParams === undefined)) {
              var message = url.searchParams.get('message');
            }
            if (message != null && !(message === undefined)) {
                alert(message);
            }
              $(document).ready(function () {
                  $('#example').DataTable();
              });
        </script>
        <table id="example" class="display" style="width:100%; margin:4px; padding: 4px">
          <thead>
            <tr>
              <th>Event</th>
              <th>Choice</th>
              <th>Friends Going</th>
            </tr>
          </thead>
 
          <tbody>
            
            {% for event in events %}
              <tr>
              <td> {{event.name}} {{event.about}} {{event.location}}, {{event.date}}</td>
              <td>
                <button type="button" onclick="window.location='/attend?id={{event.event_id}}'">I'll go</button>
              </td>
              <td>
                <h6>@merayman, @frkyky, @bulletally, ... 4 more</h6>
              </td>
              </tr>
            {% endfor %}
            
          </tbody>
 
        </table>
  </div>
</div>
{% include "bottom.html" %}
