<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/theme.css" type="text/css"> </head>

<body>
  <div class="p-5 text-center text-white bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
      <div class="row">
        <div class="col-md-2  offset-md-5">
          <img class="d-block img-fluid" src="../static/logo.png" data-holder-rendered="true"> </div>
      </div>
      <div>
        <div class="col-md-12">
          <h1 class="mb-4 text-secondary">Nemo Music.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6  ">
          <div class="col-md-12">
            <div class="card text-white p-5 bg-primary">
              <div class="card-body" draggable="true">
                <h1 class="mb-4">Login form</h1>
                <form action="https://goal.com">
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email" required=""> </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" required=""> </div>
                  <button type="submit" class="btn btn-secondary">Login</button>
                </form>
              </div>
            </div>
            <div class="col-md-6"> </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h1 class="mb-4">Sign Up</h1>
            <form action="https://formspree.io/YOUREMAILHERE">
              <div class="form-group">
                <label for="InputName">Your name</label>
                <input type="text" class="form-control" placeholder="Your name" id="InputName" required=""> </div>
              <div class="form-group">
                <label for="InputEmail1">Last Name</label>
                <input type="text" class="form-control" placeholder="Your last name" id="InputEmail1" required=""> </div>
              <div class="form-group">
                <label for="InputUserName">Username</label>
                <input type="text" class="form-control" placeholder="Your username" id="InputUserName" required=""> </div>
              <div class="form-group">
                <label for="InputEmail">Email</label>
                <input type="email" class="form-control" placeholder="Your email" id="InputEmail" required=""> </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="InputPassword" required=""> </div>
              <div class="row">
                <div class="col-md-6">
                  <label> Account Type </label>
                  <div>
                    <input type="radio" id="toggle-on" name="toggle" checked="" value="artist">
                    <label for="toggle-on">Artist</label>
                    <input type="radio" id="toggle-off" name="toggle" value="standart">
                    <label for="toggle-off">Standart</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <label> Gender </label>
                  <div>
                    <select>
                      <option value="notToDisclose">notToDisclose</option>
                      <option value="male">male</option>
                      <option value="female">female</option>
                    </select>
                  </div>
                </div>
              </div>
              <div>
                <h1> </h1>
              </div>
              <button type="submit" class="btn btn-secondary">Sign-Up</button>
            </form>
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="container"> </div>
      </div>
      <div class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>