{% include "top.html" %}
<div style="background-color: #1a1a1a">
    {% raw %}
<template id="song-template">
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
        <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
            <span class="ui-panel-title">{{title}}</span>
        </div>
        <div class="ui-panel-content ui-widget-content">
            <img src="../static/logo.png" height="64" width="64">
            <div class="car-detail">{{artist_name}}</div>
            <div class="car-detail">{{price}}</div>
            <a class="nav-link text-secondary" href="/buysong?id={{id}}">Buy</a>
        </div>
    </div>
</template>
<template id="album-template">
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
        <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
            <span class="ui-panel-title">{{title}}</span>
        </div>
        <div class="ui-panel-content ui-widget-content">
            <img src="../static/logo.png" height="64" width="64">
            <div class="car-detail">{{artist_name}}</div>
            <div class="car-detail">{{price}}</div>
            <a class="nav-link text-secondary" href="buyalbum?id={{id}}">Buy</a>
        </div>
    </div>
</template>
{% endraw %}
<div style="overflow-y: scroll; height: 150%;">
    <div id="albumgrid"></div>
    <div id="songgrid"></div>
</div>
<script>
    $(function () {
        var url_all = window.location.href;
        var url = new URL(url_all);
        if (!(url.searchParams === undefined)) {
          var message = url.searchParams.get('message');
        }
        if (message != null && !(message === undefined)) {
            alert(message);
        }

        $('#songgrid').puidatagrid({
            paginator: {
                rows: 5
            },
            columns: 5,
            template: $('#song-template'),
            header: 'Most Popular Song',
            datasource: [
        {% for song in songs %}
            {% raw %}
            {
            {% endraw %}
                'id' :'{{ song.song_id }}',
                'title': '{{ song.title }}',
                'artist_name':'{{ song.artist_name }}',
                'price':'{{ song.price }}'
            {% raw %}
            },
            {% endraw %}
        {% endfor %}
    ]

    })
        ;
        $('#albumgrid').puidatagrid({
            paginator: {
                rows: 5
            },
            columns: 5,
            template: $('#album-template'),
            header: 'Most Popular Albums',
            datasource: [
                {% for album in albums %}
                    {% raw %}
                    {
                    {% endraw %}
                        'id' :'{{ album.album_id }}',
                        'title': '{{ album.title }}',
                        'artist_name':'{{ album.artist_name }}',
                        'price':'{{ album.price }}'
                    {% raw %}
                    },
                    {% endraw %}
                {% endfor %}
            ]
        });
    });
</script>
</div>
{% include "bottom.html" %}