{% include "top.html" %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/jquery-ui-1.12.1.custom/jquery-ui.theme.css">
  <div style="overflow-y: scroll; height: 100%; background-color: #1a1a1a;">
  <script>
    $(document).ready(function () {

        $('#example').DataTable();
    });
  </script>
  <table id="example" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Play</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
        <th>Genre</th>
        <th>Number of Listen</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for song in songs %}
      <>
        <td>
          <img src="../static/play.png" alt="Play" height="24" width="24"> </td>
        <td data-search="{{song.title}}">{{song.title}}</td>
        <td>{{song.artist_name}}</td>
        <td>{{song.duration}}</td>
        <td>{{song.genre}}</td>
        <td>{{song.number_of_listen}}</td>
        <td>
            <a href="/delete?id={{song.song_id}}"><img src="../static/delete.png" alt="Delete" height="24"  width="24"></a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% include "bottom.html" %}
