<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/theme.css" type="text/css"> </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="col-md-2">
      <div class="col-md-3">
        <img src="../static/logo.png" alt="Mountain View" style="width:70px;height:70px;"> </div>
      <div class="col-md-9">
        <a class="navbar-brand text-secondary" href="#">Nemo Music</a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link text-secondary" href="profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="market">Market</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="mysongs">My Songs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="timeline">Timeline</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="playlists">Playlists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="events">Events</a>
              </li>
            </ul>
            <div class="row">
              <div class="col-md-10">
                <form class="form-inline m-0">
                  <input class="form-control mr-2 form-control-sm" type="text" placeholder="Songs,Albums,Artists" required="required">
                  <button class="btn btn-secondary" type="submit">Search</button>
                </form>
              </div>
              <div class="col-md-2">
                <label class="text-center text-secondary"> UserName </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
    <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for song in songs %}
      <tr>
        <td><img src="../static/play.png" alt="Play" height="24" width="24"></td>
        <td>{{song.title}}</td>
        <td>{{song.artist}}</td>
        <td>{{song.duration}}</td>
        <td><img src="../static/delete.png" alt="Delete" height="24" width="24"></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>