<!DOCTYPE html> 
<html> 
 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"> 
  <link rel="stylesheet" href="../static/theme.css" type="text/css"> </head>
 
<body> 
  <div class="row"> 
    <object type="text/html" data="top_menu.html"></object> 
    <iframe src="../templates/top_menu.html" width="110%" height="130px"></iframe> 
  </div> 
  <div class="bg-primary py-2"> 
    <div class="container"> 
      <div class="row"> 
        <div class="col-md-12"> 
          <h1 class="">My Songs</h1> 
        </div> 
      </div> 
    </div> 
  </div> 
  <div class="py-5 bg-secondary"> 
    <div class="container"> 
      <div class="row"> 
        <div class="col-md-12 bg-primary"> 
          <table class="table"> 
            <thead> 
              <tr> 
                <th class="text-secondary">First Name</th> 
                <th class="text-secondary">Last Name</th> 
              </tr> 
            </thead> 
            <tbody> 
              <tr> 
                <td class="text-light">Mark</td> 
                <td class="text-light">Otto</td> 
              </tr> 
              <tr> 
                <td class="text-light">Jacob</td> 
                <td class="text-light">Thornton</td> 
              </tr> 
              <tr> 
                <td class="text-light">Larry</td> 
                <td class="text-light">the Bird</td> 
              </tr> 
            </tbody> 
          </table> 
        </div> 
      </div> 
    </div> 
  </div> 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body> 
 
</html>