<!DOCTYPE html>
<html>
{% include "top.html" %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/profile.css" type="text/css"> 
  <link rel="stylesheet" href="../static/theme.css" type="text/css"></head>
<body>
  <div class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <img src="../static/userimgs/{{user.id}}.png" alt="Profile Photo" style="width: 120px; height: 120px;"> </div>
            <div class="col-md-8">
              <h1> {{user.name}} {{user.lastname}} </h6>
              <h3>@{{user.username}}</h3>
            </div>
            <div class="col-md-1">
               <div class="row">
 				<img src="../static/wallet.png" alt="Wallet Photo" style="width: 40px; height: 40px;">
          		</div>
               	 <div class="row">
               	 	<p>{{user.wallet}} TL</p>
               	</div>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-md-6">
              <h6> Created Playlist</h6>
              <ul class="list-group">
                (% for ply in ply2s %}
                  <li class="list-group-item">
                    <a href="/playlist?id={{ply.p1aylist_id}}">{{ply.title}}</a>
                  </li>
                (% endfor %)
              </ul>
            </div>
            <div class="col-md-6">
              <h6> Following Playlist</h6>
              <ul class="list-group">
               (% for ply in ply1s %}
                  <li class="list-group-item">
                    <a href="/playlist?id={{ply.p1aylist_id}}">{{ply.title}}</a>
                  </li>
               (% endfor %)
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12">
                <h6> Following</h6>
                <ul class="list-group">
                  {% for following in followings %}
                  <li class="list-group-item">
                    <a href="/otherprofile?username={{following}}">{{following}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <h6> Followers</h6>
              <ul class="list-group">
                {% for following in followers %}
                  <li class="list-group-item">
                    <a href="/otherprofile?username={{follower}}">{{follower}}</a>
                  </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6> Events
                <br>
              </h6>
              <div class="row">
                <div class="col-md-12">
                  <ul class="list-group w-100 mx-1" id="eventsList" style="background-color: rgb(26, 26, 26);" height="100px">
                    {% for event in events %}
                    <li class="list-group-item">
                      <a href="/otherprofile?event={{event}}">{{event}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% include "bottom.html" %}
</html>