{% include "top.html" %}
<div style="overflow-y: scroll; height: 100%; background-color: #1a1a1a;">
  <div class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <img src="../static/10.jpg" alt="Profile Photo" style="width: 120px; height: 120px;"> </div>
            <div class="col-md-8">
              <h1> {{user.name}} {{user.lastname}} </h6>
              <h3>@{{user.username}}</h3>
            </div>
            <div class="col-md-1">
               <div class="row">
 				<img src="../static/wallet.png" alt="Wallet Photo" style="width: 40px; height: 40px;">
          		</div>
               	 <div class="row">
               	 	<p>{{user.wallet}} TL</p>
               	</div>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-md-6">
              <h6> Created Playlist</h6>
	      		<ul class="list-group">
	            {% for playlist in created %}
                  <li class="list-group-item">
                    <a href="/playlists?id={{playlist.playlist_id}}">{{playlist.title}}</a>
                  </li>
                  {% endfor %}
	      		</ul>
            </div>
            <div class="col-md-6">
              <h6> Following Playlist</h6>
              		<ul class="list-group">
	                {% for play in followed %}
	                  <li class="list-group-item">
	                    <a href="/playlists?id={{play.playlist_id}}">{{play.title}}</a>
	                  </li>
	                  {% endfor %}
			  		</ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12">
                <h6> Following</h6>
                <ul class="list-group">
                  {% for following in followings %}
                  <li class="list-group-item">
                    <a href="/otherprofile?username={{following}}">{{following}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <h6> Followers</h6>
              <ul class="list-group">
                {% for follower in followers %}
                  <li class="list-group-item">
                    <a href="/profile?username={{follower}}">{{follower}}</a>
                  </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6> Events
                <br>
              </h6>
              <div class="row">
                <div class="col-md-12">
                  <ul class="list-group w-100 mx-1" id="eventsList" style="background-color: rgb(26, 26, 26);" height="100px">
                    {% for event in events %}
                    <li class="list-group-item">
                      <a href="/otherprofile?events">{{event.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% include "bottom.html" %}