{% include "top.html" %}
<div style="background-color: #1a1a1a">
    <div style="overflow-y: scroll; height: 500px">
    <div id="ds"></div>
    </div>
    {% raw %}
    <template id="timeline-template">
        <div class="ui-grid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                    <img src="showcase/resources/demo/images/car/{{brand}}-big.gif"/>
                </div>
                <div class="ui-grid-col-12" style="padding-top:20px">
                    <div class="ui-grid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <span style="font-size:24px">{{message}}</span>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <span style="font-size:24px">Time:</span>
                            </div>
                            <div class="ui-grid-col-10">
                                <span style="font-size:24px;font-weight:bold">{{time}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    {% endraw %}
    <script>
        $("#ds").puidatascroller({
            header: 'Scroll Down to Load More',
            chunkSize: 10,
            totalSize: 200,
            scrollHeight: 500,
            lazy: true,
            datasource: [
            {% for activity in activities %}
                {% raw %}
                {
                {% endraw %}
                    'id' :'{{activity.activity_id}}',
                    'message': '{{ activity.text }}',
                    'date':'{{ activity.date }}'
                {% raw %}
                },
                {% endraw %}
                {% endfor %}
                ]
                mode: 'self',
                template: $('#timeline-template')
            });
    </script>
</div>
{% include "bottom.html" %}