<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="../static/bottom.css" type="text/css">
    <link rel="stylesheet" href="../static/theme.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
    <link rel="stylesheet" href="../static/primeuı/primeui-all.css"/>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="../static/primeuı/primeui-all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/x-tag/1.5.11/x-tag-core.min.js"></script>
    <script type="text/javascript" src="../static/primeuı/primeelements.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>

</head>
<body>
    <hr>
<div id="topmenu" style="top: 0">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="col-md-2">
            <div class="col-md-3">
                <img src="../static/logo.png" alt="Mountain View" style="width:70px;height:70px;"></div>
            <div class="col-md-9">
                <a class="navbar-brand text-secondary" href="#">Nemo Music</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="/market">Market</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="/mysongs">My Songs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="/timeline">Timeline</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="/playlists">Playlists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="/events">Events</a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-10">
                                <form class="form-inline m-0" method="get" action="/search">
                                    <input class="form-control mr-2 form-control-sm" type="text"
                                           placeholder="Songs,Albums,Artists" name="key" required="required">
                                    <button class="btn btn-secondary" type="submit">Search</button>
                                </form>
                            </div>
                            <div class="col-md-2">
                                <a class="text-center text-secondary" href="/logout"> Logout </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<hr>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>